@font-face {
  font-family: ganganee;
  src: url("./fonts/un-ganganee.ttf");
}

body {
  font-family: 'Open Sans', sans-serif, ganganee;
  font-weight: 400;
  background: rgb(0, 0, 0);
  color: #fff !important;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-grey {
  background-color: #171717;
}

#main {
  &.container {
    position: relative;
    margin-top: 80px !important;
  }
}